{% extends '::base.html.twig' %}

{% block content %}
    <h1>Site Posts</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{{ url('post.slugify', {slug:post.slug}) }}">Post #{{ loop.index  }} {{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <hr />
    The random number is: {{ number }}
    <hr />
    Now is: {{ 'now'|date  }} / the date is: {{ the_date|date }} / the diff is: {{ the_date|dateDiff }}
    <hr />
    <p>Location: {{ location }}</p>
    {{ form(form) }}

    {{ sonata_block_render(
    {'type': 'sonata.block.service.template' },
    {'template': ':block:footer.html.twig' })
    }}

{% endblock %}